app/code/local/Soundworks/Tools/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="soundworksCreateShopEntity">
                <xsd:sequence>
                    <xsd:element name="websiteName" type="xsd:string" minOccurs="1"></xsd:element>
                    <xsd:element name="websiteCode" type="xsd:string" minOccurs="1"></xsd:element>
                    <xsd:element name="storeGroupName" type="xsd:string" minOccurs="1"></xsd:element>
                    <xsd:element name="rootCategoryId" type="xsd:int" minOccurs="1"></xsd:element>
                    <xsd:element name="storeName" type="xsd:string" minOccurs="1"></xsd:element>
                    <xsd:element name="storeCode" type="xsd:string" minOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="soundworksCreateShopEntityResponse">
                <xsd:sequence>
                    <xsd:element name="websiteId" type="xsd:string" minOccurs="1"></xsd:element>
                    <xsd:element name="storeGroupId" type="xsd:string" minOccurs="1"></xsd:element>
                    <xsd:element name="storeId" type="xsd:string" minOccurs="1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="soundworksCreateShopRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="params" type="typens:soundworksCreateShopEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="soundworksCreateShopResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:soundworksCreateShopEntityResponse" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="soundworksCreateShopRequest">
        <wsdl:part name="parameters" element="typens:soundworksCreateShopRequestParam"/>
    </wsdl:message>
    <wsdl:message name="soundworksCreateShopResponse">
        <wsdl:part name="parameters" element="typens:soundworksCreateShopResponseParam" />
    </wsdl:message>

    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="soundworksCreateShop">
            <wsdl:documentation>Create shop</wsdl:documentation>
            <wsdl:input message="typens:soundworksCreateShopRequest" />
            <wsdl:output message="typens:soundworksCreateShopResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="soundworksCreateShop">
            <soap:operation soapAction="" />
            <input><soap:body use="literal" /></input>
            <output><soap:body use="literal" /></output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>